body {
    background: black;
    color: white;
    margin: 0;
}

p {
    justify-content:center;
    text-align:center;
}
p a:link{
    color: black;
    text-decoration:none;
}

p a:visited {
    color:black;
    text-decoration:none;
}
p a:hover {
    color:white;
    text-decoration:none;
}
 
p a:visited:hover {
    color:white;
    text-decoration:none;
}

h3 a {
    text-decoration:none;
}
h3 a:hover {
    color:white;
    text-decoration:none;
}
h3 a:visited {
    color:white;
    text-decoration:none;
}
h3 a:visited:hover {
    color:white;
    text-decoration:none;
}

h3 {
    margin:50px;
    color:white;
    text-align:center;
}
h4 {
    text-align:center;
    color: black;
}
h4:hover {
    color: white;
}